.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}



fieldset {
    text-align: center;
    margin-bottom: 40px;
}

fieldset legend {
    font-weight: bold;
}

fieldset img {
    max-height: 150px;
    margin: 0 auto;
}

fieldset .form-check {
    padding: 10px;
}


/* helper classes */
.inline-block {
  display: inline-block;
}
