:root {
    --primary: #393e46;
    --primary-dark: #222831;
    --accent: #fd7014;
    --light-color: #eeeeee;
}
body {
    background-color: var(--light-color);
}
/* header */
header {
    margin-bottom: 10px;
    border-bottom: 5px solid var(--accent);
    padding: 3rem;
    background-color: var(--primary);
    background-image: url("../images/fungi.png");
    background-size: 20px 20px;
    color: var(--light-color);
    text-align: center;
}
header h1 {
    color: var(--accent);
}

 /* form container */
 #form-container {
     text-align: center;
     padding: 20px;
     margin-top: 40px;
     background-color: white;
     border-radius: 20px;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }
#form-container h2 {
    margin-bottom: 30px;
}
#form-container small {
    display: block;
    margin: 10px;
}
#submit-button {
    padding-left: 40px;
    padding-right: 40px;
    font-size: 1.2em;
    border: none;
    color: var(--light-color);
    background-color: var(--accent);
}
#submit-button {
    padding-left: 40px;
    padding-right: 40px;
    font-size: 1.2em;
    border: none;
    color: var(--light-color);
    background-color: var(--accent);
}


/* form */
fieldset {
    padding: 10px;
}
fieldset legend {
    font-size: 1.6em;
    padding: 10px;
    color: var(--primary-dark);
}
fieldset .form-check {
    border: 2px solid white;
    border-radius: 15px;
    margin: 10px;
    padding: 4px;
    transition : border 200ms ease-out;
}
fieldset .form-check:hover {
    border: 2px solid var(--accent);
    transition : border 200ms ease-out;
}
fieldset img {
    max-height: 150px;
    margin: 0 auto;
}
/* TODO: hide radiobuttons and use fieldset-selected class instead */
/*fieldset input {
    display: none;
}*/
.div-colors img {
    max-height: 70px
}
.colorRect {
    height: 70px;
    width: 70px;
    margin: 0 auto;
    border: 2px solid var(--primary);
    border-radius: 20px;
}

/* footer */
footer {
    text-align: center;
    padding: 5px;
    margin: 40px;
    color: var(--primary-dark);
}
footer img {
    padding: 5px;
    max-height: 50px;
}

/* helper classes */
.inline-block {
  display: inline-block;
}
.fieldset-selected {
    border: 2px solid var(--accent);
}
