:root {
    --primary: #393e46;
    --primary-dark: #222831;
    --accent: #fd7014;
    --accent-dark: #e35c02;
    --light-color: #eeeeee;
}
body {
    background-color: var(--light-color);
}
/* header */
header {
    margin-bottom: 10px;
    border-bottom: 5px solid var(--accent);
    padding: 3rem;
    background-color: var(--primary);
    background-image: url("../images/fungi.png");
    background-size: 20px 20px;
    color: var(--light-color);
    text-align: center;
}
header h1 {
    color: var(--accent);
}

 /* form container */
 @media screen and (min-width: 1400px) {
     #formContainer {
         margin: 0 auto;
         width: 1350px;
     }
 }
 #formContainer {
     margin-top: 40px;
     padding: 20px;
     text-align: center;
     background-color: white;
     border-radius: 20px;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }
#formContainer h2 {
    margin-bottom: 30px;
}
small {
    display: block;
    margin: 10px;
}
#submitButton, #backButton {
    padding-left: 50px;
    padding-right: 50px;
    font-size: 1.4em;
    border: none;
    color: white;
    background-color: var(--accent);
    transition : background-color 200ms ease-out;
}
#submitButton:hover, #backButton:hover {
    background-color: var(--accent-dark);
    transition : background-color 200ms ease-out;
}


/* form */
fieldset {
    padding: 10px;
}
fieldset legend {
    font-size: 1.6em;
    padding: 10px;
    color: var(--primary-dark);
}
fieldset .form-check {
    margin: 10px;
    padding: 6px 10px 2px;
    border: 2px solid rgba(255, 255, 255, 1);
    border-radius: 15px;
    transition : border 200ms ease-out;
    cursor: pointer;
}
fieldset .form-check:hover {
    border: 2px solid var(--accent);
    transition : border 200ms ease-out;
}
fieldset img {
    max-height: 120px;
    margin: 0 auto;
    cursor: pointer;
}
fieldset label{
    cursor: pointer;
}
fieldset input {
    display: none;
}
.div-colors img {
    max-height: 70px
}
.colorRect {
    height: 70px;
    width: 70px;
    margin: 0 auto;
    border: 2px solid var(--primary);
    border-radius: 20px;
}

/* Show result page */
#resultContainer {
    text-align: center;
    margin-top: 30px;
    padding: 10px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#resultContainer img {
    max-height: 300px;
    margin: 20px;
}
#backButton {
    padding-left: 20px;
    padding-right: 20px;
}

/* footer */
footer {
    text-align: center;
    padding: 5px;
    margin: 30px;
    color: var(--primary-dark);
}
footer img {
    padding: 5px;
    max-height: 50px;
}

/* helper classes */
.inline-block {
  display: inline-block;
}
.selected {
    border: 2px solid var(--accent) !important;
}
